.chat-main {
    height: 100%;
    width: 100%;
}

.chat-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .conversation-area {
        width: 75%;
        height: 100%;
        position: relative;

        .messages {
            height: 100%;
            width: 100%;
            padding-bottom: 5rem;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .message {
                width: fit-content;
                padding: 0.5rem 1rem;
                background-color: #0e0e0e;
                border-radius: 0.5rem;
                text-align: left;
                max-width: 80%;

                &.user {
                    margin-left: auto;
                }
            }

        }

        .input-area {
            position: absolute;
            bottom: 1rem;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000000;
            border-radius: 0.75rem;

            input {
                padding: 0.7rem 0.75rem;
                border: none;
                outline: none;
                background-color: transparent;
                width: 100%;
            }
        }
    }

}